.body {
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

#cards {
    display: flex;
    justify-content: space-around;
    display: none;
}

@media only screen and (max-width: 500px) {

    .main {
        height: 60vh;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}